@font-face { font-family: hafs; src: url('font/hafs.ttf'); }

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    overflow-y: scroll;
}
nav ol {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to a new line if space is limited */
    justify-content: flex-start; /* Align items to the left */
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ol li {
    font-size: 1em;
    margin: 5px;
}
nav ol li a {
    text-decoration: none;
    text-underline-offset: 3px;
    color: red;
    background-color: #f9f9f9;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 5px 10px;
}
.mainbullet li{
    padding: 10px 0;
}
h3 {
    text-align: center;
}
p, ol, ul {
    font-size: 0.9em;
    line-height: 1.5;
    color: gray;
}

.hukum {
    background-color: #9ef9e8;
    font-size: 0.9em;
    padding: 5px 10px;
    border-radius: 0 15px 15px 0;
}

#sub {
    background-color: #fff6e5;
	max-width: 100%;
	padding: 0.1rem 0.4rem;
	border-left: 3px solid orange;
}
.about {
    width: 25%;
    height: auto;
    border-radius: 5px;
}
img {
    width: 15%;
    height: auto;
    margin: 0 auto;
    display: flex;
}
.game-container {
    max-width: 580px;
    margin: 30px auto;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#questions-list {
    font-size: 0.9em;
    padding: 0 20px;
    color: gray;
}
#questions-list > li {
    margin-bottom: 30px;
}
.question {
    margin-bottom: 30px;
}
.hint {
    color: gray;
    font-size: 1em;
    margin-bottom: 10px;
}
.blanks {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 10px;
    justify-content: center;
}
.blank {
    width: 20px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 25px;
    margin: 0 auto;
    display: flex;
}
.blank input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 15px;
    background: none;
    outline: none;
}
.correct {
    background-color: #c8e6c9;
    border-color: #388e3c;
}
.incorrect {
    background-color: #ffcdd2;
    border-color: #d32f2f;
}
.feedback {
    font-size: 0.9em;
    margin-top: 10px;
}
.retry {
    margin-top: 20px;
    text-align: center;
}
.audio-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Adjust this as needed, e.g., 60%, 500px, etc. */
    max-width: 600px; /* Ensures it doesn’t get too wide on large screens */
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 0.9em;;
}
[id^="controls"] {
    display: flex;
    gap: 10px;
  }
  .audio-container a {
    color: #007bff;
    margin-bottom: 10px;
  }
.playButton, .stopButton, .restartButton {
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #555;
  width: 25px;
  height: auto;
  padding: 5px 0;
}
.loopButton {
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #555;
    width: 70px;
    height: auto;
  }
.playButton {
  color: white;
  background-color: rgb(66, 224, 18);
}
.stopButton {
  color: white;
  background-color: red;
}
.slider {
  width: 80%;
  margin: 10px 0;
}
.timedisplay {
  font-size: 0.9em;
  color: #555;
}
.qur {
    direction: rtl;
    font-family: hafs;
    font-size: 20px;
	text-align: center;
    margin: 10px 10px;
    }
.qur2 {
    direction: rtl;
    font-family: hafs;
    font-size: 20px;
    color: black;
    background-color: #f7e2fa;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    }

    .rumi {
        color: blue;
        background-color: white;
        text-align: center;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid red;
        }

details {
    interpolate-size: allow-keywords;
    overflow: clip;
    margin: 10px 10px;
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
    border-radius: 3px;
    width: 90%;
    font-size: 0.9em;
    text-align: center;
    }
      
      details summary {
        display: block;
        cursor: pointer;
        position: relative;
        padding: 0.5em 0.5em 0.5em 0.7em;
        background: #ededed;
        color: #2b2b2b;
        border-radius: 3px 3px 0 0;
        font-style: italic;
      }
      
      details:not([open]) summary:hover,
      details:not([open]) summary:focus {
        background: #f6f6f6;
        color: #454545;
      }
      
      details[open] summary {
        outline: 1px solid #003eff;
        background: #007fff;
        color: #ffffff;
      }
      
      details[open]::details-content {
        height: auto;
      }
      
      details::details-content {
        height: 0;
        overflow-y: clip;
        transition: content-visibility 475ms allow-discrete, height 475ms;
      }
      
      details main {
        padding: 1em 2.2em;
      }     
      
    .stt {
        position: fixed;
        bottom: 50px;
        right: 400px;
        z-index: 9;
        padding: 5px 5px;
        font-size: 12px;
        text-align: center;
        background-color: white;
        border: 1px solid grey;
        border-radius: 5px;
        color: grey;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        text-decoration: none;
    }
    
    .stt:active {
        color: white;
        background-color: black;
    }

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    color: green;
    font-size: 0.8em;
    border: 1px solid #ddd;
    padding: 5px;
}

td {
    color: grey;
    font-size: 0.8em;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

td:nth-child(1), td:nth-child(2) {
    background-color: lightyellow; /* Change background color */
    color: darkblue; /* Change text color */
}

td ul {
    padding: 5px 10px;
    text-align: left;
}

.stacked-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stacked-content a, 
.stacked-content button {
    margin-bottom: 10px;
}

.side-by-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

    .playPauseBtn {
    padding: 2px 8px;
    font-size: 12px;
    cursor: pointer;
    background: linear-gradient(to right, blue 0%, #f6ff42 0%);
    transition: background 0.1s linear;
    color: black;
    border: none;
    outline: none;
    width: 4rem;
    border-radius: 3px;
}
.playPauseBtn.playing {
    background-color: #f6ff42;
    color: grey;
}
.playPauseBtn.playing:hover {
    background: linear-gradient(to right, darkblue 0%, #f6ff42 0%);
}
.playPauseBtn:not(.playing):hover {
    color: black;
}

.highlight {
    color: red;
  }
  

@media (max-width: 800px) {	
    .stt {
        right: 40px;
        }
    }

@media screen and (max-width: 500px) {
    .blank input {
    font-size: 12px;
    }
    .game-container {
        max-width: 85%;
    }
    nav {
        margin: 0 auto;
    }
    nav ol {
        line-height: 0.2;
    }
    nav ol li {
        font-size: 12px;
    }
    .stt {
		right: 10px;	
	}
}